CUSTOMERS_DB_NAME=database_name_here
CUSTOMERS_DB_USER=username_here
CUSTOMERS_DB_PASSWORD=your_password_here

ACCOUNTS_DB_NAME=database_name_here
ACCOUNTS_DB_USER=username_here
ACCOUNTS_DB_PASSWORD=your_password_here